{% load static %}
<style>
  .cerchi-container {
    display: flex;
    gap: 5px;
  }

  .cerchio {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
  }
</style>
<div class="cerchi-container">
  <span class="cerchio" style="background-color: #87B5C4;"></span>
  <span class="cerchio" style="background-color: #C44325;"></span>
  <span class="cerchio" style="background-color: #F8B451;"></span>
  <span class="cerchio" style="background-color: #000000;"></span>
</div>